// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

  $text-input-highlight-color-valid: #aaaaaa;

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #aaaaaa,

  // Mykonos
  // login:      #FFFFFF,
  // fridge:     #0699D8,
  // shopping:   #031944,
  // add:        #FFE8B7,
  // delete:     #3F3C2F

  // Florence
  // login:      #D36B5E,
  // fridge:     #B52F4C,
  // shopping:   #5B212E,
  // add:        #BEC499,
  // delete:     #777777

  // London
  // login:      #7A6F65,
  // fridge:     #001F3F,
  // shopping:   #FF2D2D,
  // add:        #F2EBD0,
  // delete:     #AF9F90

  // Cairo
  // login:      #EDC9AF,
  // fridge:     #E2AB68,
  // shopping:   #B77635,
  // add:        #80DAEB,
  // delete:     #F5D3A5

  // New York
  // login:      #F2D9B5,
  // fridge:     #CFD6AB,
  // shopping:   #BCBCBC,
  // add:        #FFC700,
  // delete:     #000000

  // Rio De Janeiro
  // login:      #45A871,
  // fridge:     #C12645,
  // shopping:   #3885EA,
  // add:        #9B5E84,
  // delete:     #F7BF59

  // Dubai
  // login:      #C1C1C1,
  // fridge:     #01AEBF,
  // shopping:   #536375,
  // add:        #EAC58A,
  // delete:     #CE7E37

  // Istanbul
  // login:      #BF3737,
  // fridge:     #6F529B,
  // shopping:   #573757,
  // add:        #FFB7D4,
  // delete:     #FFD6AD

  // Honk Kong
  login:      #6CB7A8,
  fridge:     #C97944,
  shopping:   #FFBE93,
  add:        #CEC3AF,
  delete:     #B1DFED

);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
