// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

  $text-input-highlight-color-valid: #aaaaaa;

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #aaaaaa,

  // Sugarplum Fairy
  // login:      #5F021F,
  // fridge:     #84022B,
  // shopping:   #A30335,
  // add:        #8C6A70,
  // delete:     #5B4549

  // Mediterrenean Sunset
  // login:      #FFDDD3,
  // fridge:     #DE6B48,
  // shopping:   #DE6B48,
  // add:        #A04C33,
  // delete:     #472216

  // Aztec Gold
  // login:      #E5D2A9,
  // fridge:     #FFB414,
  // shopping:   #FFB414,
  // add:        #E5A10D,
  // delete:     #AF7B0A

  // Rainforest
  // login:      #8BC1AE,
  // fridge:     #19966A,
  // shopping:   #19966A,
  // add:        #126D4D,
  // delete:     #0A3D2B

  // Amazonian Thunderstorm
  login:      #4EA7B7,
  fridge:     #62D1E5,
  shopping:   #62D1E5,
  add:        #D3E2E5,
  delete:     #64868C

  // Sweet Tooth
  // login:      #472D39,
  // fridge:     #774C60,
  // shopping:   #B75D69,
  // add:        #1A1423,
  // delete:     #1A1423


);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
