<ion-header>
  <ion-navbar color="login">
    <ion-title>Reset Password</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="form-content">
  <form class="form" [formGroup]="validations_form"  (ngSubmit)="resetPassword(validations_form.value)">

    <ion-item>
      <ion-label floating color="login">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <button class="submit-btn" ion-button block type="submit" [disabled]="!validations_form.valid" color="login">Reset Password</button>
    <label class="error-message">{{errorMessage}}</label>
    <label class="success-message">{{successMessage}}</label>
  </form>

</ion-content>


<!-- <ion-content padding>
  <form [formGroup]="resetPasswordForm" (submit)="resetPassword()" novalidate>
    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input formControlName="email" type="email"
      placeholder="Your email address"
      [class.invalid]="!resetPasswordForm.controls.email.valid && blur">
      </ion-input>
    </ion-item>
    <ion-item class="error-message"
    *ngIf="!resetPasswordForm.controls.email.valid  &&
    resetPasswordForm.controls.email.touched">
      <p>Please enter a valid email.</p>
    </ion-item>

    <button ion-button block type="submit"
    [disabled]="!resetPasswordForm.valid">
      Reset your Password
    </button>

  </form>
</ion-content> -->
